@{
    ViewData["Title"] = "Home Page";
}

<h1>Menu</h1>

<div class="row">
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="https://d1ralsognjng37.cloudfront.net/a1f77c4b-4ebe-4149-892b-7cb574a08fdc.jpeg" alt="Pizza" height="178" width="180">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="https://images.ctfassets.net/uw7yiu2kuigc/2FA9BhVhhY0NgYhgDzn86E/a17932ee6c3e7ac60ecb7873331be7eb/Three-Meat-Calzones-Lead.jpg" alt="Calzone" height="178" width="180">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="https://www.takeaway.com/foodwiki/uploads/sites/11/2019/08/italian_cuisine_1-1080x985.jpg" alt="Pasta" height="178" width="180">
        </a>
    </div>
    
</div>