@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Carros View</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="Lista">Ver lista de carros</a>
</div>
