@{
    ViewData["Title"] = "Inicio";
}

<style>
    body {
        background-image: url(https://okdiario.com/img/2019/07/13/-cuales-son-las-diferentes-especialidades-veterinarias_.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .display-3 {
        text-align: center;
        font-weight: bold;
        
    }
    #title1 {
        font-family: 'Brush Script MT', cursive;
        color: navajowhite;
        align-items: center;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        -webkit-text-stroke: 2px black;
       
    }
    #titlediv1 {
        height: 150px;
        width: 300px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #refran {
        color: dimgray;
        align-items: center;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        -webkit-text-stroke: 0.8px black;
    }
</style>

<body>
    <br><br><br>
    <div id="titlediv1">
        <h1 class="display-3" id="title1">Veterinaria Maskoteando</h1>
    </div>
    <br><br>
    <h5 id="refran">
        Los Mejores amigos de nuestros mejores amigos.
    </h5>

</body>
