@{
    ViewData["Title"] = "Servicios";
}

<body>
    <div id="divServicios">
        <ul id="list">
            <li id="listServ">
                Hotel para mascotas
            </li>
            <li id="listServ">
                Cirugías
            </li>
            <li id="listServ">
                Ultrasonido
            </li>
            <li id="listServ">
                Rayos X
            </li>
            <li id="listServ">
                Laboratorio
            </li>
            <li id="listServ">
                Peluquería
            </li>
            <li id="listServ">
                Emergencia 24 horas
            </li>
            <li id="listServ">
                Vacunación
            </li>
            <li id="listServ">
                Cremación
            </li>
        </ul>
    </div>

</body>