@{
    ViewData["Title"] = "Contactenos";
}
<style>
    body {
        background-image: url(https://okdiario.com/img/2019/07/13/-cuales-son-las-diferentes-especialidades-veterinarias_.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h3 {
        text-align: center;
        font-weight: bold;
    }

    .caption {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        background-color:bisque;
    }

    form {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form input {
        width: 90%;
        height: 30px;
        margin: 0.5rem;
    }

    form button {
        padding: 0.5em 1em;
        border: none;
        background: rgb(100, 200, 255);
        cursor: pointer;
    }
    #text {
        font-weight: bold;
        color: black;
        align-items: center;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        -webkit-text-stroke: 0.1px white;
    }
    #ayuda {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>
<body>
    <h3>
        Contactenos
    </h3>
    <div>
        <br><br>
            <div id="caption">
                <form>
                    <div>
                        <div>
                            <label for="inputComentarias">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="inputComentarias">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="inputComentarias">Telefono</label>
                            <input type="text" class="form-control" placeholder="Telefono">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="inputComentarias">Comentarios/Dudas/Consultas</label>
                            <input type="text" class="form-control" id="inputComentarias">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        <br><br>
        <h3>Localizanos</h3>
            <div id="caption">
                <br>    
                <iframe id="ayuda" src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d832.4422828853802!2d-84.24497218309762!3d10.075022625738624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d10.0749335!2d-84.2450118!5e1!3m2!1sen!2sus!4v1457613297629" width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        <br><br>
        <h3>Redes Sociales</h3>
            <div id="caption">
                <br>
                <img id="ayuda" src="https://www.pinclipart.com/picdir/middle/2-21918_download-transparent-background-facebook-logo-clipart-facebook-logo.png" width="50" height="50"></img>
            </div>
        <br><br>
        <h3>Correo Electronico</h3>
            <div id="caption">
                <p id="text">vetmaskoteando@gmail.com</p>
            </div>
        <br><br>
        <h3>Telefono</h3>
            <div id="caption">
                <p id="text">Cel: 84093337</p>
            </div>
        <br><br>
    </div>
</body>
