
@{
    ViewData["Title"] = "AboutUs";
}



<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">Conoce sobre nosotros</h2>
                    <br />
                    <p class="aboutus-text">Somos una Clínica especializada en implantología y Cosmética Dental 🦷. Agenda hoy mismo tu cita y recupera tu sonrisa 😁</p>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="~/images/4.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Somos Especialistas</h4>
                                <p>Todos nuestros procedimientos son realizados por verdaderos especialistas</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Experiencia</h4>
                                <p>Contamos con más de 25 años de ejercer la odontología de manera exitosa</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-ok"></span>
                            </div>
                            <div class="feature-content">
                                <h4>Servicio al cliente</h4>
                                <p>Nuestros clientes son lo más importante en Montero Smile Art, por eso nos esmeramos en brindar la mejor calidad de servicio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>