@{
    ViewData["Title"] = "Acerca de nosotros";
}
<style>
    body {
        background-image: url(https://okdiario.com/img/2019/07/13/-cuales-son-las-diferentes-especialidades-veterinarias_.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #imagenAcerca {
        width: 500px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: double;
        border-radius: 50%;
    }
    #divAcerca {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .row {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .caption {
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border: groove;
        width: 700px;

        background-color: rgba(0, 0, 0, .5);
        top: 10px;
        color: #fff;
        text-align: center;
        padding-top: 1em;
    }

    h3 {
        text-align: center;
        font-weight: bold;
    }
    #text {
        font-weight: bold;
        color: white;
        align-items: center;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        -webkit-text-stroke: 0.2px gray;
    }

   </style>
<body>
    <h3>
        Acerca de nosotros
    </h3>
    <br>
        <div class="divAcerca">
            <br>
            <div class="row">
                <div>
                    <div class="thumbnail">
                        <div class="caption">
                            <p id="text">
                                En 1982, el Dr. Cornelis W. Vuurman K. inauguró el Consultorio Veterinario Los Campos. Quince años más tarde establece el Instituto Veterinario Docente La Lagunilla.

                                Recordamos siempre la importancia de tener a nuestro pacientes en optimas condiciones de salud y proveerles un ambiente sano en el que se puedan desarollar libremente bajo el cuidado y proteccion de sus dueños.
                            </p>
                        </div>
                        <br>
                        <img id="imagenAcerca" src="https://www.clinicaveterinariaejea.com/wp-content/uploads/2020/03/Equipo-Clinica-Veterinaria-Ejea-1.jpeg" alt="...">
                    </div>
                </div>
            </div>
        </div>
</body>