@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Citas</h2>
        <p>Crear, eliminar, editar y consultar citas.</p>
        <p><a class="btn btn-primary text-white" href="/Citas/">Ir a Citas</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactenos</h2>
        <p>Ver opciones.</p>
        <p><a class="btn btn-primary text-white" href="/Contactenos/">Contactenos</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Ver inventario de productos principales.</p>
        <p><a class="btn btn-primary text-white" asp-area="" asp-controller="Producto" asp-action="Index">Ir a Productos</a></p>
    </div>
</div>