@{
    ViewData["Title"] = "Home Page";
}

<h1>Opciones</h1>

<div class="row">
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="https://ugc.futurelearn.com/uploads/images/59/35/header_59359d44-f391-4258-a82d-d9d549390980.jpg" alt="Cita Medica" height="178" width="180">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="https://www.sunsetvetclinic.com/wp-content/uploads/2018/06/cocker_spaniel_bathing_800x500.jpg" alt="Peluqueria" height="178" width="180">
        </a>
    </div>
    <div class="col-xs-4 col-md-2">
        <a href="#" class="thumbnail">
            <img src="https://marvel-b1-cdn.bc0a.com/f00000000052994/www.hillspet.com/content/dam/cp-sites/hills/hills-pet/global/2020-homepage-redesign/hero-pack-lockup.png" alt="Productos" height="178" width="180">
        </a>
    </div>

</div>