@{
    ViewData["Title"] = "Home Page";
}

<h1>Contactos</h1>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXSyguGk2DFU2d3pA8hNjfuL0K0-vUu3KJQg&usqp=CAU" alt="..."  height="178" width="180">
            <div class="caption">
                <h3>Pedido Express</h3>
                <p>Pida cualquier plato</p>
                <p><a href="#" class="btn btn-primary" role="button">Ver Menu</a> <a href="#" class="btn btn-default" role="button">Llamar</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://www.kindpng.com/picc/m/57-575167_list-of-restaurants-restaurant-icon-white-png-transparent.png" alt="..."  height="178" width="180">
            <div class="caption">
                <h3>Reservaciones</h3>
                <p>Reserve una mesa</p>
                <p><a href="#" class="btn btn-primary" role="button">Ver mesas</a> <a href="#" class="btn btn-default" role="button">Llamar</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://assets.propertyshelf.com/nicaragua/sales-icon-10.png/download" alt="..."  height="178" width="180">
            <div class="caption">
                <h3>Administracion</h3>
                <p>Contactar administracion</p>
                <p><a href="#" class="btn btn-primary" role="button">Ver Contactos</a> <a href="#" class="btn btn-default" role="button">Llamar</a></p>
            </div>
        </div>
    </div>
</div>