@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contactenos</h1>
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Nombre" aria-describedby="basic-addon1">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Direccion" aria-describedby="basic-addon1">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Celular" aria-describedby="basic-addon1">
</div>

<div class="input-group">
    <input type="text" class="form-control" placeholder="Correo Electronico" aria-describedby="basic-addon2">
</div>

<div class="jumbotron">
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Enviar Data</a></p>
</div>