@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Órdenes</h2>
        <p>Crear, eliminar, editar y consultar órdenes.</p>
        <p><a class="btn btn-primary text-white" href="/Ordenes/">Ir a Órdenes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Adminstrar los clientes.</p>
        <p><a class="btn btn-primary text-white" href="/Clientes/">Ir a Clientes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Manegar inventario de productos principales.</p>
        <p><a class="btn btn-primary text-white" href="/Productos/">Ir a Productos</a></p>
    </div>
</div>