@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Perros View</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Perros" asp-action="Lista">Ver lista de perros</a>
</div>
