@{
    ViewData["Title"] = "Pagina de acerca de nosotros";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a la venta de respuestos KARIBAN </h1>
    <p>En este apartado puedes encontrar la informacion sobre la venta de repuestos para su vehiculo</p>
    <p>Nosotros somos una entidad que busca ayudar al ciudano costaricence con una basta cantidad de repuestos para sus vehiculos desde marca muy reconocidas hasta las menos utilizadas en el pais. </p>
</div>

<div class="form-row">
    <div class="form-group col-md-1">
        
    </div>
    <div class="form-group col-md-10">
        <img class="figure-img" src="https://www.serviasistenciaexpress.com/wp-content/uploads/2018/03/repuestos-originales-para-vehiculos-autos-motos.jpg" alt="Flowers in Chania" width="760" height="545">
    </div>
</div>
