@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VISTAS</h1>
    <p>VISTA 1 <a href="@Url.ActionLink("Index","Controller1")">Vista 1 </a>.</p>
    <p>VISTA 2 <a href="@Url.ActionLink("Index","Controller2")">Vista 2 </a>.</p>
    <p>VISTA 3 <a href="@Url.ActionLink("Index","Controller3")">Vista 3 </a>.</p>
    <p>VISTA 4 <a href="@Url.ActionLink("Index","Controller4")">Vista 4 </a>.</p>
</div>
