@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Gatos View</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="Gatos" asp-action="Lista">Ver lista de gatos</a>
</div>
