@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Acerca de nosotros</h1>
    <p>Somos una empresa que se dedica al bienestar de las mascotas de tu hogar, con el fin de que tenga una 
    buena alimentación y una buena salud.
    Llevamos años trabajando con un equipo amplio de doctores y asistentes que hacen que la veterinaria siga 
    mejorando día a día </p>
    <img src="https://c8.alamy.com/compes/2dahmcm/grupo-de-muchos-animales-de-granja-juntos-2dahmcm.jpg" class="rounded-circle" width="500" height="500" alt="Cinque Terre">
</div>
