@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Formulario</h1>
    <p>A continuación se le presentará un formulario para registrar sus datos y ser parte de nuestros clientes
    </p>
</div>

<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
        Nombre: <input type="text" class="form-control" placeholder="nombre">
        Apellido: <input type="text" class="form-control" placeholder="apellido">
        Correo: <input type="text" class="form-control" placeholder="correo">
        Telefono: <input type="text" class="form-control" placeholder="telefono">
    </div>
    <button type="button" class="btn btn-success">Enviar</button>
</form>