@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos a LittlePet</h1>
    <p>Veterinaria con todo lo necesario para tus mascotas</p>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.clinicaveterinariaejea.com/wp-content/uploads/2020/03/Equipo-Clinica-Veterinaria-Ejea-1-480x300.jpeg" width="950" height="520" class="mx-auto d-block" alt="Veterinarios">
               
            </div>
            <div class="carousel-item">
                <img src="https://imgcom.masterd.es/12/blog/2018/01/38482.jpg" width="950" height="520" class="mx-auto d-block" alt="Animales">
            </div>
            <div class="carousel-item">
                <img src="https://i1.wp.com/revista.weepec.com/wp-content/uploads/2020/05/vet-examining-dog-6MLYBD7.jpg?fit=1200%2C800&ssl=1" width="950" height="520" class="mx-auto d-block" alt="vacuna">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
    
