@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Servicios Disponibles</h1>
   
<div class="list-group">
    <a  class="list-group-item active">
        Elige una opción:
    </a>
    <a href="#" class="list-group-item">Vacunación</a>
    <a href="#" class="list-group-item">Consulta y Revisión</a>
    <a href="#" class="list-group-item">Compra de productos</a>
    <a href="#" class="list-group-item">Estética canina</a>
</div>
