<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrenteMVCTours</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<style>
    .QS {
        text-align:center;
        margin-top:40px;
        color:white;
    }
    .imagen{
        align-self:center;
        width:250px;
        border-radius:8px;
    }
    .bkQS {
        background-color: #403f3e;
    }
</style>

<body class="bkQS">
    <p class="QS">Somos una compañia especializada en tours dentro del area nacional buscando siempre la comodidad para su bolsillo</p>

    <<div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="QS">Zona Norte</p>
                <img class="imagen" src="~/IMG/frst.jpg" />
            </div>
            <div class="col-sm">
                <p class="QS">Rios</p>
                <img class="imagen" src="~/IMG/Rios.jpg" />
            </div>
            <div class="col-sm">
                <p class="QS">Montañas</p>
                <img class="imagen" src="~/IMG/montana.jpg" />
            </div>
        </div>
    </div>
</body>