@{
    ViewData["Title"] = "Home";
}

<body>
    <br><br><br>
    <div id="titlediv1">
        <h1 class="display-3" id="title1">Veterinaria Maskoteando</h1>
    </div>
    <br><br>
    <h5 id="refran">
        Los Mejores amigos de nuestros mejores amigos.
    </h5>

</body>
